*,
*::before,
*::after {
    box-sizing: border-box;
}

.calendar-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.calendar-heading {
    padding-top: 10px;
    padding-left: 10px;
    background: #f0ebe3;
    width: 100%;
}

.stack {
    position: relative;
    width: 100%;
    flex: 1;
    min-height: 0;
    margin: 0 auto;
    background: #f0ebe3;
}

.stack > * {
    position: absolute;
    padding: 0 30px 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.top-layer {
    z-index: 7;
    pointer-events: none;
}

.fc-daygrid-day-number {
    color: black !important;
}

.fc-col-header-cell-cushion {
    color: black !important;
}

.fc-theme-standard td,
.fc-theme-standard th,
.fc-scrollgrid {
    border-color: black !important;
}

.fc-col-header-cell-cushion {
    text-decoration: none !important;
}

.fc-daygrid-day-number:hover {
    cursor: pointer !important;
    color: #c12f2f !important;
    text-shadow: 0 0 8px rgba(237, 169, 169, 0.8);
}